<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student1 %>
    <%= form.text_field :student1, id: :group_student1 %>
  </div>

  <div class="field">
    <%= form.label :student2 %>
    <%= form.text_field :student2, id: :group_student2 %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip, id: :group_ip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
